.git
.github
.devcontainer
.claude
node_modules
vendor
tests
docker/8.5
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.env
.env.*
!.env.example
*.md
docs
frankenphp
